{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class='container'>
    <table class="table">
        <thead>
            <h3 style='text-align:center' class="display-4">Current Rosters<button class="btn btn-primary" id="addroster">Create New Roster</button></h3>
            <div class="alert alert-secondary" role="alert" id="alertMessage"></div>
        </thead>
        <tbody>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Total Players</th>
                <th>Created</th>
            </tr>
            {% if currentRosters %}
            {% for roster in currentRosters %}
            <tr>
                <td class="rosterName">{{ roster['rosterName'] }}</td>
                <td>{{ roster['Type'] }}</td>
                <td>{{ roster['Rostered'] }}</td>
                <td>{{ roster['lastModified'] }}</td>
                <!-- can I get these two buttons to float right in the <td>-->
                <td><button class="editLineup" class="btn btn-primary">Edit</button><span style='margin-left:20px'></span><button class="deleteLineup" class="btn btn-primary">Delete</button></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">No saved rosters. Click on create roster to add a new roster</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <form hidden class="form-group" type="submit" method="post" action="/editLineup">
        <input type="hidden" name="lineupToEdit" id="lineupToEdit">
    </form>
</div>

<script>

    getId("addroster").onclick = () => {
        window.location.href = '/createRoster';
    };

    $(document).on("click", "button.editLineup", function() {
        let rosterName = $(this).closest("tr").find(".rosterName").text();
        getId("lineupToEdit").setAttribute('value', rosterName);
        document.getElementsByTagName('form')[0].submit();
    });

    //add an alert to confirm
    $(document).on("click", "button.deleteLineup", function() {
        let rosterName = $(this).closest("tr").find(".rosterName").text();
        $.get(`/deleteLineup?rosterName=${rosterName}`, function(data) {
            getId('alertMessage').innerHTML = `${data} succesfully deleted!`;
            getId('alertMessage').style.visibility = "visible";
        });
        $(this).closest('tr').remove();
    });

</script>



{% endblock %}
