{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="container">
    <form action="/register" method="post" style="width:500px">
        <h2 class="display-4">Create New Account</h2>
        <p class='lead'>Username & Password must be greater than 5 characters</p>
        <div id="landingimg"></div>
        <div class="form-group">
            <label>Enter Username</label>
            <input autocomplete="off" id="username" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <label>Enter Password</label>
            <input autocomplete="off" id="password" autofocus class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <label>Re-Enter Password</label>
            <input autocomplete="off" id="confirm_password" autofocus class="form-control" name="confirm_password" placeholder="Re-Enter Password" type="password">
        </div>
        <button class="btn btn-primary" id="register" type="submit">Register</button>
        <br>
        <br>
        <p class="text-danger" id='invalid_input'>{{message}}</p>

    </form>
    <br>
    <br>
    <div class="startfooter">
    <h4><em>Already Have An Account?</em><span style="margin:12px"></span><button class="btn btn-primary" id="login">Login</h4>
    </div>
</div>


<script>

    let username = getId("username");
    let password = getId("password");
    let confirm_password = getId("confirm_password");


    //if came via render_template from duplicative username selection in /register route, display error message
    getId("invalid_input").innerHTML === "Username already taken" ? invalid_input_message("Username already taken") : '' ;

    getId("register").onclick = event => {

        if (username.value.length < 5 || password.value.length < 5 || confirm_password.value !== password.value) {
            event.preventDefault();
            invalid_input_message("Invalid username or password.");
            return false;
        } else {
            getId("register").submit();
        }
    };

    getId('login').onclick = () => {
      window.location.href = '/login';
    }

</script>

{% endblock %}
