{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class='container'>
    <table class="table">
        <thead>
            <h3 style='text-align:center' class="display-4">Current Rosters<button class="btn btn-primary" id="addroster">Create New Roster</button></h3>
        </thead>
        <tbody>
            <tr>
                <th>Name</th>
                <th>Total Players</th>
                <th>Created</th>
                <th>Last Modified</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
</div>
</table>

<script>
    let addRoster = document.getElementById("addroster");

    addRoster.onclick = () => {
        window.location.href = '/createRoster';
    };
</script>



{% endblock %}