{% extends "layout.html" %}

{% block title %}
    Start
{% endblock %}

{% block main %}

<div class="container">
        <form action="/" method="post" autocomplete="off" class="form-group" style="width: 500px;">
            <h4>Let's get some roster details.</h4>
            <br>
            <p class="lead"><em>Edit or update the quantities below.</em></p>
            <p class="lead"><em>Click on "proceed" at the bottom of the page when ready.</em></p> <!--<button class="btn btn-primary">Proceed</button>-->
            <br>
            <div><h5><img src="static/images/headerfootball.png" class="headerimg" alt="cartoon_football">Scoring Format:</h5></div>
            <br>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary" id="league_select">
                    <input type="radio" name="Type" id="PPR" value="PPR"> PPR
                </label>
                <label class="btn btn-secondary" id="league_select">
                    <input type="radio" name="Type" id="Standard" value="Standard" checked> Standard
                </label>
            </div>
            <br>
            <br>
            <h5><img src="static/images/headerfootball.png" class="headerimg" alt="cartoon_football">Roster Details:</h5>
            <br>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Total Players:</label>
                <div class="col-sm-5">
                    {% if roster_details %}
                    <input class="form-control" type="number" name="Rostered" value={{roster_details["Rostered"]}} min="0">
                    {% else %}
                    <input class="form-control" type="number" name="Rostered" value="18" min="0">
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Starters:</label>
                <div class="col-sm-5">
                    {% if roster_details %}
                    <input class="form-control" type="number" name="Starting" value={{roster_details["Starting"]}} min="0">
                    {% else %}
                    <input class="form-control" type="number" name="Starting" value="11" min="0">
                    {% endif %}
                </div>
            </div>
            <input hidden class="form-control" type="number" name="Bench" value="0">
            <br>
            <h5><img src="static/images/headerfootball.png" class="headerimg" alt="cartoon_football">How Many of Each Are You Starting?</h5>
            <br>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Quarterbacks:</label>
                <div class="col-sm-5">
                    {% if roster_details %}
                    <input class="form-control" type="number" name="QB" value={{roster_details["QB"]}} min="0">
                    {% else %}
                    <input class="form-control" type="number" name="QB" value="1" min="0">
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Runningbacks:</label>
                <div class="col-sm-5">
                    {% if roster_details %}
                    <input class="form-control" type="number" name="RB" value={{roster_details["RB"]}} min="0">
                    {% else %}
                    <input class="form-control" type="number" name="RB" value="2" min="0">
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Wide Receivers:</label>
                <div class="col-sm-5">
                    {% if roster_details %}
                    <input class="form-control" type="number" name="WR" value={{roster_details["WR"]}} min="0">
                    {% else %}
                    <input class="form-control" type="number" name="WR" value="3" min="0">
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Tight Ends:</label>
                <div class="col-sm-5">
                    {% if roster_details %}
                    <input class="form-control" type="number" name="TE" value={{roster_details["TE"]}} min="0">
                    {% else %}
                    <input class="form-control" type="number" name="TE" value="1" min="0">
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">FLEX:</label>
                <div class="col-sm-5">
                    {% if roster_details %}
                    <input class="form-control" type="number" name="FLEX" value={{roster_details["FLEX"]}} min="0">
                    {% else %}
                    <input class="form-control" type="number" name="FLEX" value="2" min="0">
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Defense:</label>
                <div class="col-sm-5">
                    {% if roster_details %}
                    <input class="form-control" type="number" name="DEF" value={{roster_details["DEF"]}} min="0">
                    {% else %}
                    <input class="form-control" type="number" name="DEF" value="1" min="0">
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Kickers:</label>
                <div class="col-sm-5">
                    {% if roster_details %}
                    <input class="form-control" type="number" name="K" value={{roster_details["K"]}} min="0">
                    {% else %}
                    <input class="form-control" type="number" name="K" value="1" min="0">
                    {% endif %}
                </div>
            </div>
            <p class="text-danger" id='invalid_input'>Error. Please ensure that total players is greater than starters, and sum of position quantities is equal to starters.</p>
            <button type="submit" class="btn btn-primary" id="send_roster">Proceed</button>

<script>

    let positions = ["QB", "RB", "WR", "TE", "FLEX", "DEF", "K"];
    let send_roster = document.getElementById("send_roster");
    send_roster.onclick = function(e) {
        var starter_count = 0;
        for (var i = 0; i < positions.length; i++) {
            starter_count += parseInt(document.getElementsByName(positions[i])[0].value);
        }
        if (starter_count != document.getElementsByName("Starting")[0].value || parseInt(document.getElementsByName("Rostered")[0].value) < document.getElementsByName("Starting")[0].value) {
            e.preventDefault();
            document.getElementById("invalid_input").style.visibility = "visible";
            invalid_input_message('Error. Please ensure that total players is greater than starters, and sum of position quantities is equal to starters.');
            return false;
        }
        else {
            document.getElementsByName("Bench")[0].setAttribute("value", document.getElementsByName("Rostered")[0].value -  document.getElementsByName("Starting")[0].value);
            /*send_roster.submit;*/
        }
    };
</script>


{% endblock %}